/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Workbench&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Scribble&family=Truculenta:opsz,wght@12..72,100..900&family=Workbench:BLED@1&display=swap");

/* Body Styles */
body {
  height: 100vh;
}

/* Main Content */
.my-content {
  height: 100%;

  img {
    max-width: 400px;
    width: 100%;
  }

  .my-h-200 {
    /* Center content vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 30px;
  }

  /* Container Styles */
  .my-div {
    height: 400px;
    width: 400px;
    border-radius: 7px;
    overflow: hidden;
  }
}

/* Custom Fonts */
.expenova-custom {
  font-family: "Truculenta", sans-serif;
}

/* Mobile Card */
.mobile-card {
  display: none !important;
}

/* Tablet Screens */
@media only screen and (max-width: 991px) {
  body {
    height: auto;
  }

  .my-div {
    margin-top: 70px;
  }

  .my-margin-bottom {
    margin-bottom: 50px;
  }
}

/* Mobile Screens */
@media only screen and (max-width: 700px) {
  body {
    height: auto;
  }

  #card-two {
    display: none !important;
  }

  .mobile-card {
    display: flex !important;
  }
}

.social-media {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  width: fit-content;
  min-width: 20px;
  min-height: 70px;
  cursor: pointer;
  left: -20px;

  .social-media-icons {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    padding: 10px;
    transition: all 0.4s ease-in;

    > button {
      background-color: #000;
      padding: 5px 2px;
    }

    i {
      color: #fff;
      cursor: pointer;
    }
  }
}
