body {
  min-height: 100vh;
}

.my-location-sign-up {
  color: #007acc !important;
}

.form-control:focus {
  box-shadow: none;
  border: 2px solid #fff;
}

.form-control {
  border: 2px solid #fff;
}
